.small-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
}

.small-square {
  width: 16px;
  height: 16px;
  background-color: blue;
}
.small-triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 7px solid green;
}

.maps a {
  font-size: 24px;
}
